@media (min-width: 426px) and (max-width: 1023px) {
    * {
        max-width: 768px;
    }

    header {
        padding: 16px 32px;
    }

    footer {
        padding: 80px 32px 32px 32px;
    }

    .btn__center {
        display: flex;
        justify-content: center;
    }

    .btn__try-taskey {
        margin: 0;
    }

    .header__desktop {
        display: none;
    }

    .header__mobile {
        display: flex;
        padding: 16px;
    }

    .section1 {
        flex-direction: column;
        text-align: center;
        padding: 140px 20px 100px 20px;
        gap: 100px;
        background-image: url(assets/bg-image-8.svg);
        background-repeat: no-repeat;
        background-position: 0 -5px;
    }

    .section1__left--desktop {
        display: none;
    }

    .section1__left--mobile {
        display: block;
    }

    .section2-3 {
        padding: 100px 20px;
    }

    .section2 {
        flex-direction: column;
        text-align: center;
        background-position: -50px -1px;
        background-size: 40%;
        padding: 0;
        margin-bottom: 50px;
    }

    .section3 {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
    }

    .section4 {
        flex-direction: column;
        text-align: center;
        padding: 100px 32px;
        gap: 60px;
    }

    .section5 {
        flex-direction: column;
        text-align: center;
        padding: 140px 20px;
        gap: 60px;
    }

    .section6 {
        padding: 140px 20px;
    }

    .section6__price-list--desktop {
        overflow: hidden;
        justify-content: center;
    }

    .price-list__free,
    .price-list__personal,
    .price-list__organization {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }

    .section7 {
        text-align: start;
        padding: 140px 20px;
        background-size: 60%;
        background-position: -120px -100px;
    }

    .section8 {
        flex-direction: column-reverse;
        text-align: center;
        padding: 140px 20px;
        gap: 100px;
    }

    .section9 {
        padding: 140px 20px;
    }

    .section9__logo {
        flex-direction: column;
        gap: 100px;
    }

    .section10 {
        flex-direction: column;
        text-align: center;
        padding: 140px 20px;
        gap: 100px;
        background-position: -350px 35px;
    }

    .section11 {
        padding: 140px 20px;
        gap: 60px;
    }

    .section11__card--desktop {
        overflow: hidden;
        justify-content: center;
    }

    .section12 {
        text-align: start;
        padding: 140px 20px 32px 20px;
        gap: 60px;
    }

    .section12__title,
    .section12 .btn__try-taskey-free,
    .section12__description,
    .section12__logo {
        margin: 50px 0;
    }

    .footer__section1 {
        flex-direction: column;
        text-align: start;
        margin: 0;
        margin-top: -50px;
    }

    .footer__section2 {
        display: block;
        border-top: none;
        padding: 0;
        margin-top: 30px;
        gap: 20px;
    }

    .footer__whitepace .whitepace-logo {
        width: 351.68px;
        height: 62px;
        font-size: 50px;
    }


    .footer__whitepace p {
        display: inline-block;
        width: 55%;
    }

    .footer__content {
        display: inline-block;
        width: 25%;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between;
    }

    .footer__nav ul {
        border-bottom: 1px solid #2e4e73;
        width: 100%;
        justify-content: space-between;

    }
}